version: '3.1'

services: 
    db:
        image: mysql:5.7
        restart: always
        environment:
            MYSQL_DATABASE: data_logs
            MYSQL_USER: admin
            MYSQL_PASSWORD: password
            MYSQL_ROOT_PASSWORD: password
        volumes:
            - db_data:/var/lib/mysql
        networks:
            - nodeapp
    node:
        depends_on:
            - db
        image: "node:10"
        user: "node"
        environment:
            - NODE_ENV=development
        restart: always
        working_dir: /home/node/app
        volumes:
            - ./:/home/node/app
        ports:
            - "8081:80"
        command: ["./wait-for-it.sh", "db:3306", "--", "npm", "start"]
        networks:
            - nodeapp
        environment:
            DATABASE_HOST: db
            DATABASE_NAME: data_logs
            DATABASE_USER: admin
            DATABASE_PASS: password
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        ports: 
            - "8080:80"
        depends_on:
            - db
        environment: 
            PMA_HOST: db:3306
            MYSQL_ROOT_PASSWORD: password
        networks:
            - nodeapp
networks:
    nodeapp:
volumes:
    db_data: